In [1]:
import numpy as np
import pandas as pd

In [2]:
trans = pd.read_csv('transactions.csv', header=0, sep=',')

In [60]:
trans.head()

,customer_id,transaction_month,transaction_day,transaction_amt,merchant_id,merchant_mcc
0,855115,7,3,1500,4554547,5411
1,997036,6,6,0,1657528,5411
3,997036,6,2,0,16304402,5411
4,291636,7,25,0,1259505,5411
5,844503,5,24,3500,12790541,5411

In [44]:
mccs = trans.merchant_mcc.value_counts()

In [46]:
mccs.sum()

3951115

In [50]:
mccs[:10].sum()

2979987

In [58]:
new_mccs = np.array(mccs[:10].index)

In [59]:
new_mccs

array([5411, 5814, 5499, 5812, 4121, 5541, 5912, 5921, 4111, 5331])

In [57]:
trans = trans[np.in1d(np.array(trans.merchant_mcc), np.array(mccs[:10].index))]

In [62]:
trans = trans.drop(['transaction_month', 'transaction_day', 'merchant_id'], axis=1)

In [66]:
transgb = trans.groupby(['customer_id', 'merchant_mcc']).agg(['count', 'mean'])

In [75]:
index = sorted(np.array(trans.customer_id.value_counts().index))

In [76]:
new_mccs.sort()

In [81]:
columns = np.array([str(x) + '_cnt' for x in new_mccs] + [str(x) + '_mean' for x in new_mccs])
columns

array(['4111_cnt', '4121_cnt', '5331_cnt', '5411_cnt', '5499_cnt',
       '5541_cnt', '5812_cnt', '5814_cnt', '5912_cnt', '5921_cnt',
       '4111_mean', '4121_mean', '5331_mean', '5411_mean', '5499_mean',
       '5541_mean', '5812_mean', '5814_mean', '5912_mean', '5921_mean'],
      dtype='<U9')

In [82]:
new_trans = pd.DataFrame(index=index, columns=columns)

In [84]:
new_trans = new_trans.fillna(0)

In [100]:
transgb

                         transaction_amt
                                   count          mean
customer_id merchant_mcc
15          5411                      26   4903.846154
            5499                       8   3375.000000
            5812                       8   3437.500000
            5814                       2  25250.000000
            5912                       4   2000.000000
...                                  ...           ...
1103495     5331                       2    750.000000
            5411                       6   1916.666667
            5499                       2    500.000000
            5541                       4   2375.000000
            5814                       3    333.333333

[254172 rows x 2 columns]

In [103]:
for num, (index, row) in enumerate(transgb.iterrows()):
    if num % 1000 == 0:
        print(num)
    cust_id, merch_mcc = index
    cnt, mean = row
    new_trans.loc[cust_id, str(merch_mcc)+'_cnt'] = cnt
    new_trans.loc[cust_id, str(merch_mcc)+'_mean'] = mean

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000
240000
241000
242000
243000
244000
245000
246000
247000
248000
249000
250000
251000
252000
253000
254000

In [104]:
new_trans

,4111_cnt,4121_cnt,5331_cnt,5411_cnt,5499_cnt,5541_cnt,5812_cnt,5814_cnt,5912_cnt,5921_cnt,4111_mean,4121_mean,5331_mean,5411_mean,5499_mean,5541_mean,5812_mean,5814_mean,5912_mean,5921_mean
15,0.0,0.0,0.0,26.0,8.0,0.0,8.0,2.0,4.0,3.0,0.000000,0.000000,0.000000,4903.846154,3375.000000,0.000000,3437.500000,25250.000000,2000.000000,13666.666667
73,3.0,90.0,5.0,46.0,4.0,5.0,11.0,8.0,8.0,3.0,166.666667,427.777778,1200.000000,1315.217391,375.000000,2300.000000,19181.818182,750.000000,1562.500000,333.333333
91,8.0,3.0,0.0,18.0,2.0,17.0,9.0,12.0,0.0,0.0,0.000000,666.666667,0.000000,222.222222,500.000000,1823.529412,2166.666667,541.666667,0.000000,0.000000
144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3000.000000,250.000000
150,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1000.000000,0.000000,0.000000
178,48.0,45.0,0.0,45.0,24.0,0.0,4.0,81.0,5.0,0.0,145.833333,488.888889,0.000000,488.888889,208.333333,0.000000,1000.000000,327.160494,1000.000000,0.000000
183,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,6500.000000,0.000000,1000.000000,3500.000000,0.000000,0.000000
192,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
362,2.0,7.0,4.0,57.0,13.0,1.0,12.0,33.0,17.0,1.0,2000.000000,571.428571,250.000000,1061.403509,153.846154,1500.000000,1000.000000,272.727273,441.176471,0.000000
446,0.0,0.0,0.0,3.0,1.0,0.0,1.0,3.0,3.0,0.0,0.000000,0.000000,0.000000,1000.000000,1000.000000,0.000000,500.000000,666.666667,500.000000,0.000000
521,3.0,23.0,28.0,59.0,69.0,0.0,25.0,24.0,10.0,0.0,833.333333,130.434783,214.285714,491.525424,260.869565,0.000000,900.000000,791.666667,200.000000,0.000000
536,0.0,0.0,0.0,8.0,1.0,3.0,1.0,13.0,0.0,0.0,0.000000,0.000000,0.000000,500.000000,0.000000,1666.666667,500.000000,153.846154,0.000000,0.000000
588,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000,3500.000000,0.000000,0.000000
612,2.0,4.0,0.0,4.0,1.0,0.0,1.0,1.0,4.0,0.0,1250.000000,750.000000,0.000000,500.000000,0.000000,0.000000,500.000000,500.000000,875.000000,0.000000
629,1.0,14.0,1.0,10.0,0.0,1.0,0.0,1.0,0.0,6.0,0.000000,35.714286,0.000000,500.000000,0.000000,500.000000,0.000000,0.000000,0.000000,250.000000
652,0.0,0.0,0.0,17.0,5.0,0.0,1.0,4.0,2.0,0.0,0.000000,0.000000,0.000000,352.941176,200.000000,0.000000,0.000000,500.000000,0.000000,0.000000
716,0.0,0.0,0.0,74.0,22.0,7.0,0.0,0.0,3.0,41.0,0.000000,0.000000,0.000000,270.270270,136.363636,1000.000000,0.000000,0.000000,333.333333,158.536585
791,5.0,21.0,2.0,51.0,2.0,0.0,20.0,12.0,3.0,1.0,900.000000,261.904762,0.000000,872.549020,500.000000,0.000000,2400.000000,833.333333,666.666667,500.000000
794,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000
804,0.0,0.0,0.0,4.0,37.0,4.0,0.0,0.0,5.0,1.0,0.000000,0.000000,0.000000,1250.000000,243.243243,875.000000,0.000000,0.000000,500.000000,1000.000000
807,0.0,0.0,2.0,9.0,0.0,2.0,0.0,5.0,0.0,1.0,0.000000,0.000000,1000.000000,888.888889,0.000000,500.000000,0.000000,100.000000,0.000000,0.000000
830,0.0,3.0,0.0,4.0,1.0,4.0,6.0,4.0,0.0,1.0,0.000000,500.000000,0.000000,250.000000,500.000000,2250.000000,750.000000,1125.000000,0.000000,1500.000000
882,0.0,1.0,1.0,38.0,6.0,7.0,7.0,11.0,5.0,10.0,0.000000,0.000000,0.000000,750.000000,166.666667,1000.000000,1642.857143,227.272727,200.000000,400.000000
885,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,1000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
928,0.0,0.0,0.0,3.0,0.0,2.0,3.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,166.666667,0.000000,750.000000,166.666667,0.000000,0.000000,0.000000
936,7.0,62.0,0.0,37.0,3.0,0.0,23.0,115.0,1.0,0.0,142.857143,201.612903,0.000000,432.432432,333.333333,0.000000,652.173913,169.565217,0.000000,0.000000
972,4.0,5.0,2.0,73.0,1.0,15.0,1.0,20.0,13.0,2.0,0.000000,0.000000,4250.000000,753.424658,0.000000,900.000000,0.000000,175.000000,807.692308,1750.000000
995,0.0,0.0,5.0,6.0,2.0,3.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,583.333333,250.000000,2000.000000,0.000000,0.000000,0.000000,0.000000
1067,37.0,0.0,1.0,11.0,1.0,1.0,13.0,87.0,7.0,0.0,121.621622,0.000000,21000.000000,409.090909,0.000000,0.000000,2115.384615,339.080460,1214.285714,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055162,1.0,2.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,500.000000,0.000000,0.000000,1500.000000,0.000000,0.000000,0.000000,1000.000000,0.000000,0.000000
1055301,0.0,1.0,0.0,6.0,2.0,6.0,0.0,3.0,1.0,0.0,0.000000,500.000000,0.000000,416.666667,1250.000000,1583.333333,0.000000,500.000000,1000.000000,0.000000
1055501,0.0,1.0,0.0,1.0,4.0,0.0,0.0,3.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1055552,0.0,0.0,0.0,9.0,1.0,0.0,5.0,2.0,1.0,2.0,0.000000,0.000000,0.000000,666.666667,0.000000,0.000000,1300.000000,1000.000000,0.000000,750.000000
1055648,0.0,0.0,0.0,0.0,0.0,1.0,1.0,4.0,0.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000,500.000000,375.000000,0.000000,0.000000
1055670,0.0,3.0,0.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.000000,333.333333,0.000000,2750.000000,0.000000,2500.000000,0.000000,0.000000,0.000000,0.000000
1057796,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000,0.000000
1058261,0.0,0.0,0.0,4.0,0.0,3.0,0.0,0.0,0.0,3.0,0.000000,0.000000,0.000000,125.000000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000
1058311,0.0,0.0,0.0,1.0,1.0,0.0,3.0,4.0,0.0,0.0,0.000000,0.000000,0.000000,1000.000000,500.000000,0.000000,2500.000000,625.000000,0.000000,0.000000
1058468,0.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,1000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1058574,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,250.000000,500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1059052,0.0,0.0,1.0,3.0,1.0,0.0,1.0,6.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000,250.000000,0.000000,0.000000
1059186,0.0,0.0,0.0,4.0,0.0,2.0,1.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,1500.000000,0.000000,2750.000000,500.000000,0.000000,0.000000,0.000000
1059297,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1059651,1.0,0.0,0.0,8.0,1.0,1.0,2.0,5.0,1.0,0.0,2000.000000,0.000000,0.000000,250.000000,500.000000,2000.000000,500.000000,400.000000,2500.000000,0.000000
1059900,0.0,0.0,0.0,5.0,0.0,0.0,0.0,2.0,0.0,0.0,0.000000,0.000000,0.000000,200.000000,0.000000,0.000000,0.000000,250.000000,0.000000,0.000000
1060125,4.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,166.666667,0.000000,0.000000
1060256,0.0,0.0,0.0,8.0,2.0,0.0,1.0,1.0,0.0,1.0,0.000000,0.000000,0.000000,625.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000
1060267,0.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.000000,0.000000,0.000000,666.666667,0.000000,0.000000,0.000000,500.000000,0.000000,0.000000
1080141,0.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0,6.0,0.000000,0.000000,0.000000,250.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1084384,0.0,0.0,0.0,10.0,0.0,2.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,600.000000,0.000000,1000.000000,0.000000,0.000000,0.000000,0.000000
1085389,0.0,0.0,5.0,40.0,6.0,2.0,3.0,5.0,18.0,15.0,0.000000,0.000000,400.000000,400.000000,83.333333,1750.000000,500.000000,300.000000,361.111111,166.666667
1085822,0.0,0.0,4.0,2.0,10.0,0.0,2.0,1.0,0.0,1.0,0.000000,0.000000,0.000000,500.000000,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1089543,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,2.0,1.0,0.000000,0.000000,0.000000,1166.666667,0.000000,0.000000,1000.000000,0.000000,250.000000,500.000000
1093167,0.0,0.0,0.0,15.0,39.0,3.0,18.0,3.0,8.0,0.0,0.000000,0.000000,0.000000,566.666667,397.435897,666.666667,333.333333,500.000000,187.500000,0.000000
1098683,0.0,0.0,0.0,6.0,11.0,7.0,6.0,1.0,0.0,9.0,0.000000,0.000000,0.000000,1166.666667,272.727273,1142.857143,416.666667,0.000000,0.000000,222.222222
1099266,0.0,0.0,0.0,4.0,2.0,1.0,1.0,1.0,1.0,3.0,0.000000,0.000000,0.000000,875.000000,500.000000,500.000000,500.000000,6500.000000,2500.000000,500.000000
1099662,0.0,1.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,5.0,0.000000,0.000000,0.000000,187.500000,0.000000,0.000000,0.000000,0.000000,0.000000,300.000000
1099955,0.0,0.0,1.0,7.0,0.0,0.0,2.0,1.0,9.0,2.0,0.000000,0.000000,0.000000,714.285714,0.000000,0.000000,0.000000,500.000000,1388.888889,0.000000
1103495,0.0,0.0,2.0,6.0,2.0,4.0,0.0,3.0,0.0,0.0,0.000000,0.000000,750.000000,1916.666667,500.000000,2375.000000,0.000000,333.333333,0.000000,0.000000

In [108]:
new_trans.to_csv('transformed_transactions.csv', sep=',', index=True, index_label='customer_id')

In [193]:
custs = pd.read_csv('customer_train.csv', sep=',', header=0, parse_dates=['first_session_dttm'])
custs.head()

,customer_id,product_0,product_1,product_2,product_3,product_4,product_5,product_6,gender_cd,age,marital_status_cd,children_cnt,first_session_dttm,job_position_cd,job_title
0,894436,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,MAR,0.0,2018-03-20 09:10:16,1,Неруководящий сотрудник - обсл. Персонал
1,524526,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,20.0,UNM,0.0,2017-03-29 20:38:45,16,NaN
2,498134,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,25.0,UNM,0.0,2018-03-12 11:25:06,22,NaN
3,278941,NaN,NaN,UTL,CLS,NaN,UTL,UTL,M,25.0,NaN,NaN,2016-02-21 18:47:51,16,Неруководящий сотрудник - специалист
4,877312,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,40.0,MAR,0.0,2018-03-07 11:17:02,22,NaN

In [194]:
custs.drop('job_title', axis=1, inplace=True)

In [195]:
custs['full_years'] = custs.first_session_dttm.apply(lambda date: 2019 - date.year)

In [122]:
custs.loc[0, 'first_session_dttm'].year

2018

In [196]:
custs.drop('first_session_dttm', axis=1, inplace=True)

In [197]:
custs

,customer_id,product_0,product_1,product_2,product_3,product_4,product_5,product_6,gender_cd,age,marital_status_cd,children_cnt,job_position_cd,full_years
0,894436,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,MAR,0.0,1,1.0
1,524526,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,20.0,UNM,0.0,16,2.0
2,498134,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,25.0,UNM,0.0,22,1.0
3,278941,NaN,NaN,UTL,CLS,NaN,UTL,UTL,M,25.0,NaN,NaN,16,3.0
4,877312,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,40.0,MAR,0.0,22,1.0
5,821806,NaN,NaN,NaN,UTL,NaN,UTL,NaN,F,25.0,NaN,0.0,22,1.0
6,782728,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,35.0,MAR,0.0,22,2.0
7,540071,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,NaN,0.0,11,1.0
8,66158,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,30.0,MAR,0.0,22,6.0
9,804202,NaN,NaN,NaN,UTL,NaN,UTL,NaN,M,20.0,NaN,0.0,11,2.0
10,323753,NaN,NaN,NaN,UTL,NaN,UTL,NaN,M,30.0,NaN,0.0,22,3.0
11,244719,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,25.0,UNM,0.0,22,4.0
12,110927,UTL,NaN,OPN,NaN,NaN,UTL,NaN,M,25.0,UNM,0.0,22,5.0
13,307008,NaN,CLS,UTL,NaN,NaN,CLS,NaN,M,40.0,UNM,1.0,22,3.0
14,643021,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,25.0,NaN,0.0,11,2.0
15,739814,NaN,NaN,UTL,NaN,NaN,UTL,NaN,F,60.0,NaN,0.0,22,2.0
16,816597,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,NaN,0.0,22,1.0
17,387428,NaN,NaN,OPN,NaN,NaN,UTL,NaN,M,30.0,MAR,0.0,22,3.0
18,134847,NaN,NaN,NaN,UTL,NaN,UTL,NaN,F,40.0,NaN,NaN,22,5.0
19,650669,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,25.0,MAR,0.0,20,1.0
20,210331,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,40.0,MAR,0.0,11,3.0
21,143055,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,30.0,MAR,1.0,2,5.0
22,106750,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,25.0,UNM,1.0,16,4.0
23,392634,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,30.0,UNM,0.0,4,3.0
24,195762,NaN,CLS,NaN,NaN,NaN,UTL,NaN,M,40.0,MAR,0.0,16,3.0
25,902650,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,30.0,NaN,0.0,22,1.0
26,761975,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,35.0,MAR,0.0,19,2.0
27,505245,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,25.0,NaN,0.0,22,2.0
28,480749,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,50.0,UNM,0.0,17,2.0
29,44824,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,35.0,DIV,0.0,8,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,456376,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,20.0,NaN,0.0,11,2.0
49971,683014,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,30.0,NaN,0.0,11,2.0
49972,480933,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,40.0,MAR,2.0,16,2.0
49973,41434,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,30.0,MAR,1.0,16,7.0
49974,729174,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,NaN,0.0,22,2.0
49975,584624,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,20.0,NaN,NaN,22,2.0
49976,499001,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,45.0,NaN,0.0,22,2.0
49977,956410,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,UNM,0.0,1,1.0
49978,904786,NaN,UTL,NaN,CLS,NaN,UTL,NaN,F,35.0,NaN,NaN,8,1.0
49979,384096,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,30.0,NaN,0.0,22,3.0
49980,440574,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,35.0,MAR,0.0,17,3.0
49981,621810,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,40.0,DIV,0.0,22,2.0
49982,381440,UTL,NaN,NaN,NaN,NaN,UTL,NaN,F,25.0,UNM,0.0,16,2.0
49983,794063,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,25.0,UNM,0.0,16,2.0
49984,367653,NaN,CLS,NaN,NaN,UTL,UTL,NaN,F,30.0,NaN,0.0,2,3.0
49985,68829,NaN,NaN,UTL,UTL,NaN,UTL,NaN,M,30.0,NaN,0.0,22,6.0
49986,491282,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,30.0,NaN,0.0,1,2.0
49987,343679,NaN,UTL,NaN,NaN,UTL,UTL,NaN,M,25.0,UNM,0.0,2,3.0
49988,707577,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,30.0,NaN,0.0,22,2.0
49989,522971,NaN,CLS,NaN,NaN,NaN,UTL,NaN,M,35.0,UNM,0.0,2,2.0
49990,241440,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,35.0,MAR,2.0,11,2.0
49991,659970,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,30.0,NaN,0.0,22,2.0
49992,218888,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,30.0,MAR,0.0,22,4.0
49993,394248,UTL,UTL,NaN,NaN,NaN,NaN,NaN,M,30.0,UNM,0.0,20,2.0
49994,51728,NaN,NaN,NaN,CLS,NaN,UTL,NaN,M,40.0,NaN,NaN,22,7.0
49995,478743,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,30.0,MAR,2.0,20,2.0
49996,536063,NaN,NaN,NaN,NaN,CLS,UTL,NaN,F,35.0,UNM,0.0,8,1.0
49997,950147,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,NaN,0.0,22,1.0
49998,6933,NaN,OPN,NaN,NaN,UTL,UTL,NaN,F,35.0,DIV,1.0,4,1.0
49999,641073,UTL,UTL,NaN,NaN,NaN,NaN,NaN,M,30.0,MAR,0.0,2,2.0

In [201]:
custs[['age', 'full_years']] = custs[['age', 'full_years']].fillna(custs[['age', 'full_years']].mean())

In [202]:
custs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
customer_id          50000 non-null int64
product_0            1599 non-null object
product_1            23725 non-null object
product_2            4391 non-null object
product_3            6813 non-null object
product_4            2182 non-null object
product_5            33426 non-null object
product_6            2354 non-null object
gender_cd            49637 non-null object
age                  50000 non-null float64
marital_status_cd    31207 non-null object
children_cnt         44729 non-null float64
job_position_cd      50000 non-null int64
full_years           50000 non-null float64
dtypes: float64(3), int64(2), object(9)
memory usage: 5.3+ MB

In [203]:
custs.fillna('NaN', inplace=True)

In [204]:
custs

,customer_id,product_0,product_1,product_2,product_3,product_4,product_5,product_6,gender_cd,age,marital_status_cd,children_cnt,job_position_cd,full_years
0,894436,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,MAR,0,1,1.0
1,524526,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,20.0,UNM,0,16,2.0
2,498134,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,25.0,UNM,0,22,1.0
3,278941,NaN,NaN,UTL,CLS,NaN,UTL,UTL,M,25.0,NaN,NaN,16,3.0
4,877312,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,40.0,MAR,0,22,1.0
5,821806,NaN,NaN,NaN,UTL,NaN,UTL,NaN,F,25.0,NaN,0,22,1.0
6,782728,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,35.0,MAR,0,22,2.0
7,540071,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,NaN,0,11,1.0
8,66158,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,30.0,MAR,0,22,6.0
9,804202,NaN,NaN,NaN,UTL,NaN,UTL,NaN,M,20.0,NaN,0,11,2.0
10,323753,NaN,NaN,NaN,UTL,NaN,UTL,NaN,M,30.0,NaN,0,22,3.0
11,244719,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,25.0,UNM,0,22,4.0
12,110927,UTL,NaN,OPN,NaN,NaN,UTL,NaN,M,25.0,UNM,0,22,5.0
13,307008,NaN,CLS,UTL,NaN,NaN,CLS,NaN,M,40.0,UNM,1,22,3.0
14,643021,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,25.0,NaN,0,11,2.0
15,739814,NaN,NaN,UTL,NaN,NaN,UTL,NaN,F,60.0,NaN,0,22,2.0
16,816597,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,NaN,0,22,1.0
17,387428,NaN,NaN,OPN,NaN,NaN,UTL,NaN,M,30.0,MAR,0,22,3.0
18,134847,NaN,NaN,NaN,UTL,NaN,UTL,NaN,F,40.0,NaN,NaN,22,5.0
19,650669,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,25.0,MAR,0,20,1.0
20,210331,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,40.0,MAR,0,11,3.0
21,143055,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,30.0,MAR,1,2,5.0
22,106750,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,25.0,UNM,1,16,4.0
23,392634,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,30.0,UNM,0,4,3.0
24,195762,NaN,CLS,NaN,NaN,NaN,UTL,NaN,M,40.0,MAR,0,16,3.0
25,902650,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,30.0,NaN,0,22,1.0
26,761975,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,35.0,MAR,0,19,2.0
27,505245,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,25.0,NaN,0,22,2.0
28,480749,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,50.0,UNM,0,17,2.0
29,44824,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,35.0,DIV,0,8,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,456376,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,20.0,NaN,0,11,2.0
49971,683014,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,30.0,NaN,0,11,2.0
49972,480933,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,40.0,MAR,2,16,2.0
49973,41434,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,30.0,MAR,1,16,7.0
49974,729174,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,NaN,0,22,2.0
49975,584624,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,20.0,NaN,NaN,22,2.0
49976,499001,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,45.0,NaN,0,22,2.0
49977,956410,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,UNM,0,1,1.0
49978,904786,NaN,UTL,NaN,CLS,NaN,UTL,NaN,F,35.0,NaN,NaN,8,1.0
49979,384096,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,30.0,NaN,0,22,3.0
49980,440574,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,35.0,MAR,0,17,3.0
49981,621810,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,40.0,DIV,0,22,2.0
49982,381440,UTL,NaN,NaN,NaN,NaN,UTL,NaN,F,25.0,UNM,0,16,2.0
49983,794063,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,25.0,UNM,0,16,2.0
49984,367653,NaN,CLS,NaN,NaN,UTL,UTL,NaN,F,30.0,NaN,0,2,3.0
49985,68829,NaN,NaN,UTL,UTL,NaN,UTL,NaN,M,30.0,NaN,0,22,6.0
49986,491282,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,30.0,NaN,0,1,2.0
49987,343679,NaN,UTL,NaN,NaN,UTL,UTL,NaN,M,25.0,UNM,0,2,3.0
49988,707577,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,30.0,NaN,0,22,2.0
49989,522971,NaN,CLS,NaN,NaN,NaN,UTL,NaN,M,35.0,UNM,0,2,2.0
49990,241440,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,35.0,MAR,2,11,2.0
49991,659970,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,30.0,NaN,0,22,2.0
49992,218888,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,30.0,MAR,0,22,4.0
49993,394248,UTL,UTL,NaN,NaN,NaN,NaN,NaN,M,30.0,UNM,0,20,2.0
49994,51728,NaN,NaN,NaN,CLS,NaN,UTL,NaN,M,40.0,NaN,NaN,22,7.0
49995,478743,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,30.0,MAR,2,20,2.0
49996,536063,NaN,NaN,NaN,NaN,CLS,UTL,NaN,F,35.0,UNM,0,8,1.0
49997,950147,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,NaN,0,22,1.0
49998,6933,NaN,OPN,NaN,NaN,UTL,UTL,NaN,F,35.0,DIV,1,4,1.0
49999,641073,UTL,UTL,NaN,NaN,NaN,NaN,NaN,M,30.0,MAR,0,2,2.0

In [205]:
custs['gender'] = custs.gender_cd.apply(lambda x: 1 if x == 'M' else 0)

In [206]:
custs.drop('gender_cd', axis=1, inplace=True)

In [207]:
custs

,customer_id,product_0,product_1,product_2,product_3,product_4,product_5,product_6,age,marital_status_cd,children_cnt,job_position_cd,full_years,gender
0,894436,NaN,NaN,NaN,NaN,NaN,UTL,NaN,30.0,MAR,0,1,1.0,1
1,524526,NaN,UTL,NaN,NaN,NaN,UTL,NaN,20.0,UNM,0,16,2.0,0
2,498134,NaN,UTL,NaN,NaN,NaN,NaN,NaN,25.0,UNM,0,22,1.0,0
3,278941,NaN,NaN,UTL,CLS,NaN,UTL,UTL,25.0,NaN,NaN,16,3.0,1
4,877312,NaN,UTL,NaN,NaN,NaN,NaN,NaN,40.0,MAR,0,22,1.0,0
5,821806,NaN,NaN,NaN,UTL,NaN,UTL,NaN,25.0,NaN,0,22,1.0,0
6,782728,NaN,UTL,NaN,NaN,NaN,NaN,NaN,35.0,MAR,0,22,2.0,1
7,540071,NaN,NaN,NaN,NaN,NaN,UTL,NaN,30.0,NaN,0,11,1.0,1
8,66158,NaN,UTL,NaN,NaN,NaN,UTL,NaN,30.0,MAR,0,22,6.0,0
9,804202,NaN,NaN,NaN,UTL,NaN,UTL,NaN,20.0,NaN,0,11,2.0,1
10,323753,NaN,NaN,NaN,UTL,NaN,UTL,NaN,30.0,NaN,0,22,3.0,1
11,244719,NaN,UTL,NaN,NaN,NaN,UTL,NaN,25.0,UNM,0,22,4.0,0
12,110927,UTL,NaN,OPN,NaN,NaN,UTL,NaN,25.0,UNM,0,22,5.0,1
13,307008,NaN,CLS,UTL,NaN,NaN,CLS,NaN,40.0,UNM,1,22,3.0,1
14,643021,NaN,NaN,NaN,NaN,NaN,UTL,NaN,25.0,NaN,0,11,2.0,0
15,739814,NaN,NaN,UTL,NaN,NaN,UTL,NaN,60.0,NaN,0,22,2.0,0
16,816597,NaN,NaN,NaN,NaN,NaN,UTL,NaN,30.0,NaN,0,22,1.0,1
17,387428,NaN,NaN,OPN,NaN,NaN,UTL,NaN,30.0,MAR,0,22,3.0,1
18,134847,NaN,NaN,NaN,UTL,NaN,UTL,NaN,40.0,NaN,NaN,22,5.0,0
19,650669,NaN,UTL,NaN,NaN,NaN,UTL,NaN,25.0,MAR,0,20,1.0,0
20,210331,NaN,UTL,NaN,NaN,NaN,UTL,NaN,40.0,MAR,0,11,3.0,0
21,143055,NaN,UTL,NaN,NaN,NaN,UTL,NaN,30.0,MAR,1,2,5.0,1
22,106750,NaN,UTL,NaN,NaN,NaN,UTL,NaN,25.0,UNM,1,16,4.0,0
23,392634,NaN,UTL,NaN,NaN,NaN,UTL,NaN,30.0,UNM,0,4,3.0,1
24,195762,NaN,CLS,NaN,NaN,NaN,UTL,NaN,40.0,MAR,0,16,3.0,1
25,902650,NaN,NaN,NaN,NaN,NaN,UTL,NaN,30.0,NaN,0,22,1.0,0
26,761975,NaN,UTL,NaN,NaN,NaN,NaN,NaN,35.0,MAR,0,19,2.0,1
27,505245,NaN,NaN,NaN,NaN,NaN,UTL,NaN,25.0,NaN,0,22,2.0,0
28,480749,NaN,UTL,NaN,NaN,NaN,NaN,NaN,50.0,UNM,0,17,2.0,1
29,44824,NaN,UTL,NaN,NaN,NaN,NaN,NaN,35.0,DIV,0,8,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,456376,NaN,NaN,NaN,NaN,NaN,UTL,NaN,20.0,NaN,0,11,2.0,0
49971,683014,NaN,NaN,NaN,NaN,NaN,UTL,NaN,30.0,NaN,0,11,2.0,0
49972,480933,NaN,UTL,NaN,NaN,NaN,NaN,NaN,40.0,MAR,2,16,2.0,0
49973,41434,NaN,UTL,NaN,NaN,NaN,NaN,NaN,30.0,MAR,1,16,7.0,0
49974,729174,NaN,NaN,NaN,NaN,NaN,UTL,NaN,25.0,NaN,0,22,2.0,1
49975,584624,NaN,NaN,NaN,NaN,NaN,UTL,NaN,20.0,NaN,NaN,22,2.0,1
49976,499001,NaN,NaN,NaN,NaN,NaN,UTL,NaN,45.0,NaN,0,22,2.0,1
49977,956410,NaN,NaN,NaN,NaN,NaN,UTL,NaN,25.0,UNM,0,1,1.0,1
49978,904786,NaN,UTL,NaN,CLS,NaN,UTL,NaN,35.0,NaN,NaN,8,1.0,0
49979,384096,NaN,NaN,NaN,NaN,NaN,UTL,NaN,30.0,NaN,0,22,3.0,0
49980,440574,NaN,NaN,NaN,NaN,NaN,UTL,NaN,35.0,MAR,0,17,3.0,0
49981,621810,NaN,NaN,NaN,NaN,NaN,UTL,NaN,40.0,DIV,0,22,2.0,1
49982,381440,UTL,NaN,NaN,NaN,NaN,UTL,NaN,25.0,UNM,0,16,2.0,0
49983,794063,NaN,UTL,NaN,NaN,NaN,NaN,NaN,25.0,UNM,0,16,2.0,1
49984,367653,NaN,CLS,NaN,NaN,UTL,UTL,NaN,30.0,NaN,0,2,3.0,0
49985,68829,NaN,NaN,UTL,UTL,NaN,UTL,NaN,30.0,NaN,0,22,6.0,1
49986,491282,NaN,UTL,NaN,NaN,NaN,UTL,NaN,30.0,NaN,0,1,2.0,1
49987,343679,NaN,UTL,NaN,NaN,UTL,UTL,NaN,25.0,UNM,0,2,3.0,1
49988,707577,NaN,NaN,NaN,NaN,NaN,UTL,NaN,30.0,NaN,0,22,2.0,0
49989,522971,NaN,CLS,NaN,NaN,NaN,UTL,NaN,35.0,UNM,0,2,2.0,1
49990,241440,NaN,UTL,NaN,NaN,NaN,NaN,NaN,35.0,MAR,2,11,2.0,1
49991,659970,NaN,NaN,NaN,NaN,NaN,UTL,NaN,30.0,NaN,0,22,2.0,0
49992,218888,NaN,UTL,NaN,NaN,NaN,NaN,NaN,30.0,MAR,0,22,4.0,1
49993,394248,UTL,UTL,NaN,NaN,NaN,NaN,NaN,30.0,UNM,0,20,2.0,1
49994,51728,NaN,NaN,NaN,CLS,NaN,UTL,NaN,40.0,NaN,NaN,22,7.0,1
49995,478743,NaN,UTL,NaN,NaN,NaN,NaN,NaN,30.0,MAR,2,20,2.0,1
49996,536063,NaN,NaN,NaN,NaN,CLS,UTL,NaN,35.0,UNM,0,8,1.0,0
49997,950147,NaN,NaN,NaN,NaN,NaN,UTL,NaN,25.0,NaN,0,22,1.0,1
49998,6933,NaN,OPN,NaN,NaN,UTL,UTL,NaN,35.0,DIV,1,4,1.0,0
49999,641073,UTL,UTL,NaN,NaN,NaN,NaN,NaN,30.0,MAR,0,2,2.0,1

In [208]:
cat_features = ['product_0', 'product_1', 'product_2', 'product_3', 'product_4', 'product_5', 'product_6',
                'marital_status_cd', 'job_position_cd']

In [209]:
custs = pd.concat([custs] + [pd.get_dummies(custs[col], col) for col in cat_features], axis=1).drop(cat_features, axis=1)

In [210]:
custs['children_info'] = custs.children_cnt.apply(lambda x: 0 if x == 'NaN' else 1)
custs['children_num'] = custs.children_cnt.apply(lambda x: 0 if x == 'NaN' else x)

In [211]:
custs.drop('children_cnt', axis=1, inplace=True)

In [212]:
custs

,customer_id,age,full_years,gender,product_0_CLS,product_0_NaN,product_0_UTL,product_1_CLS,product_1_NaN,product_1_OPN,...,job_position_cd_15,job_position_cd_16,job_position_cd_17,job_position_cd_18,job_position_cd_19,job_position_cd_20,job_position_cd_21,job_position_cd_22,children_info,children_num
0,894436,30.0,1.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0.0
1,524526,20.0,2.0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0.0
2,498134,25.0,1.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.0
3,278941,25.0,3.0,1,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0.0
4,877312,40.0,1.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.0
5,821806,25.0,1.0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
6,782728,35.0,2.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.0
7,540071,30.0,1.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0.0
8,66158,30.0,6.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.0
9,804202,20.0,2.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0.0
10,323753,30.0,3.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
11,244719,25.0,4.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.0
12,110927,25.0,5.0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
13,307008,40.0,3.0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,1,1,1.0
14,643021,25.0,2.0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0.0
15,739814,60.0,2.0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
16,816597,30.0,1.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
17,387428,30.0,3.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
18,134847,40.0,5.0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0.0
19,650669,25.0,1.0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0.0
20,210331,40.0,3.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0.0
21,143055,30.0,5.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
22,106750,25.0,4.0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1.0
23,392634,30.0,3.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0.0
24,195762,40.0,3.0,1,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0.0
25,902650,30.0,1.0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
26,761975,35.0,2.0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0.0
27,505245,25.0,2.0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
28,480749,50.0,2.0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0.0
29,44824,35.0,1.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,456376,20.0,2.0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0.0
49971,683014,30.0,2.0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0.0
49972,480933,40.0,2.0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,2.0
49973,41434,30.0,7.0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1.0
49974,729174,25.0,2.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
49975,584624,20.0,2.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0.0
49976,499001,45.0,2.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
49977,956410,25.0,1.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0.0
49978,904786,35.0,1.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
49979,384096,30.0,3.0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
49980,440574,35.0,3.0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0.0
49981,621810,40.0,2.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
49982,381440,25.0,2.0,0,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0.0
49983,794063,25.0,2.0,1,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0.0
49984,367653,30.0,3.0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0.0
49985,68829,30.0,6.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
49986,491282,30.0,2.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0.0
49987,343679,25.0,3.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0.0
49988,707577,30.0,2.0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
49989,522971,35.0,2.0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0.0
49990,241440,35.0,2.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2.0
49991,659970,30.0,2.0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
49992,218888,30.0,4.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0.0
49993,394248,30.0,2.0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0.0
49994,51728,40.0,7.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0.0
49995,478743,30.0,2.0,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,2.0
49996,536063,35.0,1.0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0.0
49997,950147,25.0,1.0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0.0
49998,6933,35.0,1.0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1.0
49999,641073,30.0,2.0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0.0

In [214]:
new_trans = pd.read_csv('transformed_transactions.csv', sep=',', header=0)
new_trans

,customer_id,4111_cnt,4121_cnt,5331_cnt,5411_cnt,5499_cnt,5541_cnt,5812_cnt,5814_cnt,5912_cnt,...,4111_mean,4121_mean,5331_mean,5411_mean,5499_mean,5541_mean,5812_mean,5814_mean,5912_mean,5921_mean
0,15,0.0,0.0,0.0,26.0,8.0,0.0,8.0,2.0,4.0,...,0.000000,0.000000,0.000000,4903.846154,3375.000000,0.000000,3437.500000,25250.000000,2000.000000,13666.666667
1,73,3.0,90.0,5.0,46.0,4.0,5.0,11.0,8.0,8.0,...,166.666667,427.777778,1200.000000,1315.217391,375.000000,2300.000000,19181.818182,750.000000,1562.500000,333.333333
2,91,8.0,3.0,0.0,18.0,2.0,17.0,9.0,12.0,0.0,...,0.000000,666.666667,0.000000,222.222222,500.000000,1823.529412,2166.666667,541.666667,0.000000,0.000000
3,144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3000.000000,250.000000
4,150,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1000.000000,0.000000,0.000000
6,178,48.0,45.0,0.0,45.0,24.0,0.0,4.0,81.0,5.0,...,145.833333,488.888889,0.000000,488.888889,208.333333,0.000000,1000.000000,327.160494,1000.000000,0.000000
7,183,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.000000,0.000000,0.000000,0.000000,6500.000000,0.000000,1000.000000,3500.000000,0.000000,0.000000
8,192,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,362,2.0,7.0,4.0,57.0,13.0,1.0,12.0,33.0,17.0,...,2000.000000,571.428571,250.000000,1061.403509,153.846154,1500.000000,1000.000000,272.727273,441.176471,0.000000
10,446,0.0,0.0,0.0,3.0,1.0,0.0,1.0,3.0,3.0,...,0.000000,0.000000,0.000000,1000.000000,1000.000000,0.000000,500.000000,666.666667,500.000000,0.000000
11,521,3.0,23.0,28.0,59.0,69.0,0.0,25.0,24.0,10.0,...,833.333333,130.434783,214.285714,491.525424,260.869565,0.000000,900.000000,791.666667,200.000000,0.000000
12,536,0.0,0.0,0.0,8.0,1.0,3.0,1.0,13.0,0.0,...,0.000000,0.000000,0.000000,500.000000,0.000000,1666.666667,500.000000,153.846154,0.000000,0.000000
13,588,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000,3500.000000,0.000000,0.000000
14,612,2.0,4.0,0.0,4.0,1.0,0.0,1.0,1.0,4.0,...,1250.000000,750.000000,0.000000,500.000000,0.000000,0.000000,500.000000,500.000000,875.000000,0.000000
15,629,1.0,14.0,1.0,10.0,0.0,1.0,0.0,1.0,0.0,...,0.000000,35.714286,0.000000,500.000000,0.000000,500.000000,0.000000,0.000000,0.000000,250.000000
16,652,0.0,0.0,0.0,17.0,5.0,0.0,1.0,4.0,2.0,...,0.000000,0.000000,0.000000,352.941176,200.000000,0.000000,0.000000,500.000000,0.000000,0.000000
17,716,0.0,0.0,0.0,74.0,22.0,7.0,0.0,0.0,3.0,...,0.000000,0.000000,0.000000,270.270270,136.363636,1000.000000,0.000000,0.000000,333.333333,158.536585
18,791,5.0,21.0,2.0,51.0,2.0,0.0,20.0,12.0,3.0,...,900.000000,261.904762,0.000000,872.549020,500.000000,0.000000,2400.000000,833.333333,666.666667,500.000000
19,794,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,804,0.0,0.0,0.0,4.0,37.0,4.0,0.0,0.0,5.0,...,0.000000,0.000000,0.000000,1250.000000,243.243243,875.000000,0.000000,0.000000,500.000000,1000.000000
21,807,0.0,0.0,2.0,9.0,0.0,2.0,0.0,5.0,0.0,...,0.000000,0.000000,1000.000000,888.888889,0.000000,500.000000,0.000000,100.000000,0.000000,0.000000
22,830,0.0,3.0,0.0,4.0,1.0,4.0,6.0,4.0,0.0,...,0.000000,500.000000,0.000000,250.000000,500.000000,2250.000000,750.000000,1125.000000,0.000000,1500.000000
23,882,0.0,1.0,1.0,38.0,6.0,7.0,7.0,11.0,5.0,...,0.000000,0.000000,0.000000,750.000000,166.666667,1000.000000,1642.857143,227.272727,200.000000,400.000000
24,885,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,1000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,928,0.0,0.0,0.0,3.0,0.0,2.0,3.0,0.0,1.0,...,0.000000,0.000000,0.000000,166.666667,0.000000,750.000000,166.666667,0.000000,0.000000,0.000000
26,936,7.0,62.0,0.0,37.0,3.0,0.0,23.0,115.0,1.0,...,142.857143,201.612903,0.000000,432.432432,333.333333,0.000000,652.173913,169.565217,0.000000,0.000000
27,972,4.0,5.0,2.0,73.0,1.0,15.0,1.0,20.0,13.0,...,0.000000,0.000000,4250.000000,753.424658,0.000000,900.000000,0.000000,175.000000,807.692308,1750.000000
28,995,0.0,0.0,5.0,6.0,2.0,3.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,583.333333,250.000000,2000.000000,0.000000,0.000000,0.000000,0.000000
29,1067,37.0,0.0,1.0,11.0,1.0,1.0,13.0,87.0,7.0,...,121.621622,0.000000,21000.000000,409.090909,0.000000,0.000000,2115.384615,339.080460,1214.285714,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44987,1055162,1.0,2.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,...,500.000000,0.000000,0.000000,1500.000000,0.000000,0.000000,0.000000,1000.000000,0.000000,0.000000
44988,1055301,0.0,1.0,0.0,6.0,2.0,6.0,0.0,3.0,1.0,...,0.000000,500.000000,0.000000,416.666667,1250.000000,1583.333333,0.000000,500.000000,1000.000000,0.000000
44989,1055501,0.0,1.0,0.0,1.0,4.0,0.0,0.0,3.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44990,1055552,0.0,0.0,0.0,9.0,1.0,0.0,5.0,2.0,1.0,...,0.000000,0.000000,0.000000,666.666667,0.000000,0.000000,1300.000000,1000.000000,0.000000,750.000000
44991,1055648,0.0,0.0,0.0,0.0,0.0,1.0,1.0,4.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000,500.000000,375.000000,0.000000,0.000000
44992,1055670,0.0,3.0,0.0,4.0,0.0,1.0,0.0,0.0,0.0,...,0.000000,333.333333,0.000000,2750.000000,0.000000,2500.000000,0.000000,0.000000,0.000000,0.000000
44993,1057796,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000,0.000000
44994,1058261,0.0,0.0,0.0,4.0,0.0,3.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,125.000000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000
44995,1058311,0.0,0.0,0.0,1.0,1.0,0.0,3.0,4.0,0.0,...,0.000000,0.000000,0.000000,1000.000000,500.000000,0.000000,2500.000000,625.000000,0.000000,0.000000
44996,1058468,0.0,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,1000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44997,1058574,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,250.000000,500.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44998,1059052,0.0,0.0,1.0,3.0,1.0,0.0,1.0,6.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000,250.000000,0.000000,0.000000
44999,1059186,0.0,0.0,0.0,4.0,0.0,2.0,1.0,0.0,1.0,...,0.000000,0.000000,0.000000,1500.000000,0.000000,2750.000000,500.000000,0.000000,0.000000,0.000000
45000,1059297,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
45001,1059651,1.0,0.0,0.0,8.0,1.0,1.0,2.0,5.0,1.0,...,2000.000000,0.000000,0.000000,250.000000,500.000000,2000.000000,500.000000,400.000000,2500.000000,0.000000
45002,1059900,0.0,0.0,0.0,5.0,0.0,0.0,0.0,2.0,0.0,...,0.000000,0.000000,0.000000,200.000000,0.000000,0.000000,0.000000,250.000000,0.000000,0.000000
45003,1060125,4.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,166.666667,0.000000,0.000000
45004,1060256,0.0,0.0,0.0,8.0,2.0,0.0,1.0,1.0,0.0,...,0.000000,0.000000,0.000000,625.000000,0.000000,0.000000,0.000000,0.000000,0.000000,500.000000
45005,1060267,0.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,...,0.000000,0.000000,0.000000,666.666667,0.000000,0.000000,0.000000,500.000000,0.000000,0.000000
45006,1080141,0.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,250.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
45007,1084384,0.0,0.0,0.0,10.0,0.0,2.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,600.000000,0.000000,1000.000000,0.000000,0.000000,0.000000,0.000000
45008,1085389,0.0,0.0,5.0,40.0,6.0,2.0,3.0,5.0,18.0,...,0.000000,0.000000,400.000000,400.000000,83.333333,1750.000000,500.000000,300.000000,361.111111,166.666667
45009,1085822,0.0,0.0,4.0,2.0,10.0,0.0,2.0,1.0,0.0,...,0.000000,0.000000,0.000000,500.000000,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000
45010,1089543,0.0,0.0,0.0,3.0,0.0,0.0,1.0,0.0,2.0,...,0.000000,0.000000,0.000000,1166.666667,0.000000,0.000000,1000.000000,0.000000,250.000000,500.000000
45011,1093167,0.0,0.0,0.0,15.0,39.0,3.0,18.0,3.0,8.0,...,0.000000,0.000000,0.000000,566.666667,397.435897,666.666667,333.333333,500.000000,187.500000,0.000000
45012,1098683,0.0,0.0,0.0,6.0,11.0,7.0,6.0,1.0,0.0,...,0.000000,0.000000,0.000000,1166.666667,272.727273,1142.857143,416.666667,0.000000,0.000000,222.222222
45013,1099266,0.0,0.0,0.0,4.0,2.0,1.0,1.0,1.0,1.0,...,0.000000,0.000000,0.000000,875.000000,500.000000,500.000000,500.000000,6500.000000,2500.000000,500.000000
45014,1099662,0.0,1.0,0.0,16.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,187.500000,0.000000,0.000000,0.000000,0.000000,0.000000,300.000000
45015,1099955,0.0,0.0,1.0,7.0,0.0,0.0,2.0,1.0,9.0,...,0.000000,0.000000,0.000000,714.285714,0.000000,0.000000,0.000000,500.000000,1388.888889,0.000000
45016,1103495,0.0,0.0,2.0,6.0,2.0,4.0,0.0,3.0,0.0,...,0.000000,0.000000,750.000000,1916.666667,500.000000,2375.000000,0.000000,333.333333,0.000000,0.000000

In [215]:
custs.sort_values('customer_id').head()

,customer_id,age,full_years,gender,product_0_CLS,product_0_NaN,product_0_UTL,product_1_CLS,product_1_NaN,product_1_OPN,...,job_position_cd_15,job_position_cd_16,job_position_cd_17,job_position_cd_18,job_position_cd_19,job_position_cd_20,job_position_cd_21,job_position_cd_22,children_info,children_num
45792,15,40.0,7.0,1,0,1,0,1,0,0,...,0,0,1,0,0,0,0,0,1,1.0
35382,73,45.0,7.0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1.0
29140,91,40.0,6.0,1,0,1,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0.0
46974,129,45.0,6.0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1.0
19047,144,50.0,6.0,1,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,2.0

In [216]:
new_trans.head()

,customer_id,4111_cnt,4121_cnt,5331_cnt,5411_cnt,5499_cnt,5541_cnt,5812_cnt,5814_cnt,5912_cnt,...,4111_mean,4121_mean,5331_mean,5411_mean,5499_mean,5541_mean,5812_mean,5814_mean,5912_mean,5921_mean
0,15,0.0,0.0,0.0,26.0,8.0,0.0,8.0,2.0,4.0,...,0.000000,0.000000,0.0,4903.846154,3375.0,0.000000,3437.500000,25250.000000,2000.0,13666.666667
1,73,3.0,90.0,5.0,46.0,4.0,5.0,11.0,8.0,8.0,...,166.666667,427.777778,1200.0,1315.217391,375.0,2300.000000,19181.818182,750.000000,1562.5,333.333333
2,91,8.0,3.0,0.0,18.0,2.0,17.0,9.0,12.0,0.0,...,0.000000,666.666667,0.0,222.222222,500.0,1823.529412,2166.666667,541.666667,0.0,0.000000
3,144,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,3000.0,250.000000
4,150,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000

In [217]:
custs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 59 columns):
customer_id              50000 non-null int64
age                      50000 non-null float64
full_years               50000 non-null float64
gender                   50000 non-null int64
product_0_CLS            50000 non-null uint8
product_0_NaN            50000 non-null uint8
product_0_UTL            50000 non-null uint8
product_1_CLS            50000 non-null uint8
product_1_NaN            50000 non-null uint8
product_1_OPN            50000 non-null uint8
product_1_UTL            50000 non-null uint8
product_2_CLS            50000 non-null uint8
product_2_NaN            50000 non-null uint8
product_2_OPN            50000 non-null uint8
product_2_UTL            50000 non-null uint8
product_3_CLS            50000 non-null uint8
product_3_NaN            50000 non-null uint8
product_3_UTL            50000 non-null uint8
product_4_CLS            50000 non-null uint8
product_4_NaN            50000 non-null uint8
product_4_OPN            50000 non-null uint8
product_4_UTL            50000 non-null uint8
product_5_CLS            50000 non-null uint8
product_5_NaN            50000 non-null uint8
product_5_OPN            50000 non-null uint8
product_5_UTL            50000 non-null uint8
product_6_CLS            50000 non-null uint8
product_6_NaN            50000 non-null uint8
product_6_OPN            50000 non-null uint8
product_6_UTL            50000 non-null uint8
marital_status_cd_CIV    50000 non-null uint8
marital_status_cd_DIV    50000 non-null uint8
marital_status_cd_DLW    50000 non-null uint8
marital_status_cd_MAR    50000 non-null uint8
marital_status_cd_NaN    50000 non-null uint8
marital_status_cd_UNM    50000 non-null uint8
marital_status_cd_WID    50000 non-null uint8
job_position_cd_1        50000 non-null uint8
job_position_cd_2        50000 non-null uint8
job_position_cd_3        50000 non-null uint8
job_position_cd_4        50000 non-null uint8
job_position_cd_5        50000 non-null uint8
job_position_cd_7        50000 non-null uint8
job_position_cd_8        50000 non-null uint8
job_position_cd_9        50000 non-null uint8
job_position_cd_11       50000 non-null uint8
job_position_cd_12       50000 non-null uint8
job_position_cd_13       50000 non-null uint8
job_position_cd_14       50000 non-null uint8
job_position_cd_15       50000 non-null uint8
job_position_cd_16       50000 non-null uint8
job_position_cd_17       50000 non-null uint8
job_position_cd_18       50000 non-null uint8
job_position_cd_19       50000 non-null uint8
job_position_cd_20       50000 non-null uint8
job_position_cd_21       50000 non-null uint8
job_position_cd_22       50000 non-null uint8
children_info            50000 non-null int64
children_num             50000 non-null float64
dtypes: float64(3), int64(3), uint8(53)
memory usage: 4.8 MB

In [222]:
new_custs = custs.set_index('customer_id').join(new_trans.set_index('customer_id'), how='left').sort_index().fillna(0)

In [223]:
new_custs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50000 entries, 15 to 1103495
Data columns (total 78 columns):
age                      50000 non-null float64
full_years               50000 non-null float64
gender                   50000 non-null int64
product_0_CLS            50000 non-null uint8
product_0_NaN            50000 non-null uint8
product_0_UTL            50000 non-null uint8
product_1_CLS            50000 non-null uint8
product_1_NaN            50000 non-null uint8
product_1_OPN            50000 non-null uint8
product_1_UTL            50000 non-null uint8
product_2_CLS            50000 non-null uint8
product_2_NaN            50000 non-null uint8
product_2_OPN            50000 non-null uint8
product_2_UTL            50000 non-null uint8
product_3_CLS            50000 non-null uint8
product_3_NaN            50000 non-null uint8
product_3_UTL            50000 non-null uint8
product_4_CLS            50000 non-null uint8
product_4_NaN            50000 non-null uint8
product_4_OPN            50000 non-null uint8
product_4_UTL            50000 non-null uint8
product_5_CLS            50000 non-null uint8
product_5_NaN            50000 non-null uint8
product_5_OPN            50000 non-null uint8
product_5_UTL            50000 non-null uint8
product_6_CLS            50000 non-null uint8
product_6_NaN            50000 non-null uint8
product_6_OPN            50000 non-null uint8
product_6_UTL            50000 non-null uint8
marital_status_cd_CIV    50000 non-null uint8
marital_status_cd_DIV    50000 non-null uint8
marital_status_cd_DLW    50000 non-null uint8
marital_status_cd_MAR    50000 non-null uint8
marital_status_cd_NaN    50000 non-null uint8
marital_status_cd_UNM    50000 non-null uint8
marital_status_cd_WID    50000 non-null uint8
job_position_cd_1        50000 non-null uint8
job_position_cd_2        50000 non-null uint8
job_position_cd_3        50000 non-null uint8
job_position_cd_4        50000 non-null uint8
job_position_cd_5        50000 non-null uint8
job_position_cd_7        50000 non-null uint8
job_position_cd_8        50000 non-null uint8
job_position_cd_9        50000 non-null uint8
job_position_cd_11       50000 non-null uint8
job_position_cd_12       50000 non-null uint8
job_position_cd_13       50000 non-null uint8
job_position_cd_14       50000 non-null uint8
job_position_cd_15       50000 non-null uint8
job_position_cd_16       50000 non-null uint8
job_position_cd_17       50000 non-null uint8
job_position_cd_18       50000 non-null uint8
job_position_cd_19       50000 non-null uint8
job_position_cd_20       50000 non-null uint8
job_position_cd_21       50000 non-null uint8
job_position_cd_22       50000 non-null uint8
children_info            50000 non-null int64
children_num             50000 non-null float64
4111_cnt                 50000 non-null float64
4121_cnt                 50000 non-null float64
5331_cnt                 50000 non-null float64
5411_cnt                 50000 non-null float64
5499_cnt                 50000 non-null float64
5541_cnt                 50000 non-null float64
5812_cnt                 50000 non-null float64
5814_cnt                 50000 non-null float64
5912_cnt                 50000 non-null float64
5921_cnt                 50000 non-null float64
4111_mean                50000 non-null float64
4121_mean                50000 non-null float64
5331_mean                50000 non-null float64
5411_mean                50000 non-null float64
5499_mean                50000 non-null float64
5541_mean                50000 non-null float64
5812_mean                50000 non-null float64
5814_mean                50000 non-null float64
5912_mean                50000 non-null float64
5921_mean                50000 non-null float64
dtypes: float64(23), int64(2), uint8(53)
memory usage: 12.4 MB

In [224]:
new_custs.to_csv('transformed_customer_train.csv', sep=',', index_label='customer_id')